{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-type-checked"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "root": true,
    "parserOptions": { "project": ["./tsconfig.json"] },
    "ignorePatterns": ["loader.js", "dist/*", "tests/*"],
    "rules": {
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-redundant-type-constituents": "off"
    }
}